<h3 align="center">Resources</h3>

<table class="table table-striped">
  <thead>
    <tr>
      <th></th><!-- empty for edit buttons -->
      <th>Version</th>
      <th>URL Link</th>
      <th>Description/Notes</th>
      <th>Last Update</th>
    </tr>
  </thead>
  <tbody>
    <% obj.each do |source| %>
      <tr>
        <td><%= link_to 'Edit', edit_tune_source_path(@tune, source), class: "btn btn-xs btn-warning" %></td>
        <td><%= source.version %></td>
        <td align="center" class="embed-container">
        <%= embed(source.link) %> 
        </td>
        <td><%= source.description %></td>
        <td><%= time_ago_in_words(source.updated_at) %> ago</td>
      </tr>
    <% end %>
  </tbody>
</table>
