<%#= render "shared/errors", obj: @repertoire %>

<div class="panel-body">
  <div class="form-group">
    <%#= form_tag tune_instrument_tune_path, :method => :post do %>
    <%= form_tag create_multiple_tune_tune_tuning_path, :method => :post do %>  
      <% Tuning.all.each do |tuning| %>
        <div>
          <%= label_tag "#{tuning.instrument_type} #{tuning.notes} (#{tuning.name})" %>
          <%= hidden_field_tag "tunings[][id]", tuning.id %>
          <%= check_box_tag "tunings[][known]", "yes", tuning.has_tune?(@tune) %>
          <%#= text_field_tag "instruments[][tunings]" %>
        </div>
      <% end %>
      <div>
        <%= submit_tag "Submit" %>
      </div>
    <% end %>
  </div>
  <div class="form-group">
    [ <%= link_to "Cancel request and return to tune listing", tune_path(:tune_id) %> ]
  </div>
</div> <!-- end panel-body -->
