<% obj.each do |article| %>
  
  <tr>
    <td><%= link_to article.title, article_path(article) %></td>
    <td>
      <% if article.genres.any? %>
        <% article.genres.each do |genre| %>
          <%= link_to "#{genre.name}", genre_path(genre) %>
        <% end %>
      <% end %>
    </td>
    <td><%= truncate(article.description, length: 100) %></td>

    <td>
      <% if article.user %>
        <%= link_to article.user.username, user_path(article.user) %>
      <% end %></td>
    <td><%= time_ago_in_words(article.created_at) %> ago, 
              last updated: <%= time_ago_in_words(article.updated_at) %> ago</td>
  </tr>

<% end %>