<%= paginate obj %>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= sort_link(@q, :title, 'Title', default_order: :updated_at) %></th>
      <th>
      <% if obj == @articles %>
        <%= sort_link(@q, :genres, 'Genre(s)', default_order: :updated_at) %>
      <% else %>
        Genre(s)
      <% end %>
      </th>
      <th>User</th>
      <th>Description</th>
      <th><%= sort_link(@q, :updated_at, 'Last Updated', default_order: :updated_at) %></th>
    </tr>
  </thead>
  <tbody>
    <% obj.each do |article| %>
      <tr>
        <td><%= link_to article.title, article_path(article) %></td>
        <td>
          <% if article.genres.any? %>
            <% article.genres.each do |genre| %>
              <%= link_to "#{genre.name}", genre_path(genre) %>
            <% end %>
          <% end %>
        <td><%= link_to article.user.username, user_path(article.user) %></td>
        <td><%= truncate(article.description, length: 100) %></td>
        <td><%= time_ago_in_words(article.updated_at) %> ago</td>
      </tr>
    <% end %>
  </tbody>
</table>