<h1>New Article</h1>

<%= form_for :article do |f| %>
  <div>
    <p>
      <%= f.label :title %><br>
      <%= f.text_field :title %>
    </p>
  </div>
  <div>
    <p>
      <%= f.label :key %><br>
      <%= f.text_field :key %>
    </p>
  </div>
  <div>
    <p>
      <%= f.label :instrument %><br>
      <%= f.text_field :instrument %>
    </p>
  </div>
  <div>
    <p>
      <%= f.label :description %><br>
      <%= f.text_area :description %>
    </p>
  </div>
  <div>
    <p>
      <%= f.submit %>
    </p>
  </div>
<% end %>