<h2 align="center" class="jumbotron">Title: <%= @article.title %></h2>

<table align="center" class="table table-hover">
  <tr>
    <td>Key: <%= @article.key %></td>
  </tr>
  <tr>
    <td>Instrument: <%= @article.instrument %></td>
  </tr>
  <tr>
    <td>Musician: <%= link_to @article.user.username, user_path(@article.user) %></td>
  </tr>
  <tr>
    <td>Description: <%= @article.description %></td>
    </tr>
</table>

<div align="center" class="embed-container">
  <% if @article.youtube_url.present? %>
    <%= embed(@article.youtube_url) %>
  <% end %>
</div>

<div align="center" class="container">
  <% if user_signed_in? && (current_user == @article.user) %>
    <%= link_to "Edit this article", edit_article_path(@article), class: "btn btn-xs btn-primary" %>
    <%= link_to "Delete this article", article_path(@article), method: :delete,
                data: {confirm: "Are you sure you want to delete the article?"},
                class: "btn btn-xs btn-danger" %>
  <% end %>
    <%= link_to "View all articles", articles_path, class: "btn btn-xs btn-success" %>
</div>