<%= render "shared/errors", obj: @repertoire %>

<div class="panel-body">
  <%= form_for [:tune, @repertoire] do |f| %>
    <div class="form-group">
      <%= f.label "Instruments (check all that apply)" %><br>
      <%= f.collection_check_boxes :instrument_tunes, current_user.instruments.all, :id, :type do |cb| %>
        <% cb.label(class: "checkbox-inline input_checkbox") {cb.check_box(checked: @repertoire.has_instrument_by_id?(cb.value)) + cb.text} %>
      <% end %>
    </div>
    <div class="form-group">
        <%= f.submit %>
    </div>
    <div class="form-group">
      [ <%= link_to "Cancel request and return to tune listing", tune_path(@repertoire.tune) %> ]
    </div>
  <% end %>
</div> <!-- end panel-body -->