<!-- if user's own show page show actions dashboard -->
<% if @user == current_user %>
  <div align="center" class="container">
    <div align="center">
      <h2>Dashboard</h2>
      <%= link_to "New Genre", new_genre_path, class: 'btn btn-primary btn-lg' if current_user.admin? %>
      <%= link_to "New Recording", new_article_path, class: 'btn btn-db btn-lg' %>
      <%= link_to "Start a Jam", "#", class: 'btn btn-db btn-lg' %>
      <%= link_to "Join a Jam", "#", class: 'btn btn-db btn-lg'  %>
      <%= link_to "Make a Picker Friend", "#", class: 'btn btn-db btn-lg'  %>
      <%= link_to "Random Song Generator", "#", class: 'btn btn-db btn-lg'  %>
      <%= link_to "Do Another Thing", "#", class: 'btn btn-db btn-lg'  %>
    </div> <!--/.btn-group-->
  </div><!--/.container -->
<% end %>

<h1 align="center" class="jumbotron"><%= @user.username %>'s Recordings</h1>
<div class="container">
  <%= render 'articles/article', obj: @user_articles %>
</div>


