<!-- if user's own show page show actions dashboard -->
<% if @user == current_user %>
  <div align="center" class="container">
    <div align="center">
      <h2>Dashboard</h2><br>
      <%= link_to "Start a Jam", new_jam_path, class: 'btn btn-db btn-lg' %>
      <%= link_to "My Repertoire", repertoire_user_path, class: 'btn btn-db btn-lg' %>
      <%= link_to "My Recordings", recordings_user_path, class: 'btn btn-db btn-lg' %>
      <%#= link_to "New Genre", new_genre_path, class: 'btn btn-primary btn-lg' if current_user.admin? %>
    </div> <!--/.btn-group-->
  </div><!--/.container -->
<% else %>
  <div align="center" class="container">
    <div align="center">
      <h2><%= @user.username %>'s Stuff</h2>
      <%= link_to "Repertoire", repertoire_user_path, class: 'btn btn-db btn-lg' %>
      <%= link_to "Recordings", recordings_user_path, class: 'btn btn-db btn-lg' %>
    </div> <!--/.btn-group-->
  </div><!--/.container -->
<% end %>

<br>
<div align="center" class="container">
  <h4>My Instruments</h4>
    <% if @user.instruments.any? %>
      <% @user.instruments.each do |instrument| %>
        <%= link_to image_tag(instrument.type + '.svg', :class => 'svg-sm') + instrument.type, 
            eval("#{instrument.type.downcase}_path(instrument)"), class: 'btn btn-db btn-md' %>
      <% end %>
    <% else %>
      (no instruments created yet)
    <% end %>
</div>
<% if @user == current_user %>
  <div align="center" class="container">
    <%= link_to "(+) Add instrument(s)", new_user_instrument_path(current_user), class: '' %>
  </div>
<% end %>

<br>
<div>
  <h2 class="page-header">Recently Learned Tunes</h2>
  <ul class="list-group">
  <% @recent_tunes.each do |tune| %>
    <li class="list-group-item list-group-item-warning recent-tune">
        <%= link_to tune.name, tune_path(tune) %>
    </li>
  <% end %>
  </ul>
</div>


