<div class="navbar navbar-default navbar-static-top">
  <div class="container fluid">

    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "V●ᴥ●V", root_path, class: 'navbar-brand'%>
    </div>

    <div class="navbar-collapse collapse navbar-responsive-collapse">
      <ul class="nav navbar-nav">
        <li><%= link_to "Tunes", tunes_path %></li>
        <li><%= link_to "Genres", genres_path %></li>
        <li><%= link_to "Pickers", users_path %></li>
        <li><%= link_to "Recordings", articles_path %></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
          <% if user_signed_in? %>
            <% if current_user.try(:admin?) %>
              <li><span id="admin-label" class="label label-default navbar-text">
                <%= "Admin" %></span></li>
            <% end %>
            <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
          <% else %>
            <li><%= link_to "Login", new_user_session_path %></li>
          <% end %>
      </ul>
    </div> <!-- end navbar-collapse -->
    
  </div> <!-- end container fluid -->
</div> <!-- end "navbar navbar-default navbar-static-top" -->