<div class="navbar navbar-default navbar-static-top">
  <div class="container fluid">

    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "V●ᴥ●V", root_path, class: 'navbar-brand'%>
    </div>

    <div class="navbar-collapse collapse navbar-responsive-collapse">
      <ul class="nav navbar-nav">
        <li><%= link_to "Recordings", articles_path %></li>
        <li><%= link_to "Tunes", "#"  %></li>
        <li><%= link_to "Genres", genres_path %></li>
        <li><%= link_to "Pickers", users_path %></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li><%= "Admin " if current_user.try(:admin?) %></li>
        <li>
          <% if user_signed_in? %>
            <%= link_to "Logout", destroy_user_session_path, method: :delete %>
          <% else %>
            <%= link_to "Login", new_user_session_path %>
          <% end %>
        </li>
      </ul>
    </div> <!-- end navbar-collapse -->
    
  </div> <!-- end container fluid -->
</div> <!-- end "navbar navbar-default navbar-static-top" -->