<%= render "shared/errors", obj: @chart %>

<div class="panel-body">
  <%= nested_form_for [@tune, @chart] do |f| %>
    <div class="form-group">
      <%= f.label :name %><br>
      <%= f.text_field :name, autofocus: true, class: "form-control" %>
    </div>
    <div>
      <%= f.fields_for :progressions do |progressions_form| %>
        <div class="form-group well">
          <%= progressions_form.label :part_number %>
          <%= progressions_form.number_field :part_number, value: progressions_form.index.to_i+1, min: 1 %>

          <%= progressions_form.label :chord_list %>
          <%= progressions_form.text_field :chord_list %>
          
          <%= progressions_form.link_to_remove "Remove this chord progression" %>
        </div>
      <% end %>
      <p><%= f.link_to_add "(+) Add another chord progression part to tune", :progressions %></p>
    </div>
    
    <div class="form-group">
        <%= f.submit %>
    </div>
    <div class="form-group">
      [ <%= link_to "Cancel request and return to tune page", tune_path(@tune) %> ]
    </div>
  <% end %>
</div> <!-- end panel-body -->
