<!-- JAM SHOW PAGE -->
<div align="center">
  <%= button_to "Generate Random Tune", jam_path(@jam), :method => :get, :class => 'btn btn-lg btn-danger'%>
</div>
<br><br>

<div class="well">
  <h1 align="center"><strong><%= @tune.name %></strong></h1>
  <div class="row">
    <h1 align="center">
      <%= @tune.key %> 
      <%= @tune.time_signature if @tune.time_signature %>
    </h1>
    <h2 align="center">
      <% @tune.genres.each do |genre| %>
        <%= genre.name %>
      <% end %>
    </h2>
  </div>
</div>

<% if @tune.lyric %>
  <div align="center" class="well">
    <div class="edit-lyrics">
      <%= link_to "Edit Lyrics", edit_tune_lyric_path(@tune), class: 'btn btn-sm btn-warning' %>
    </div>
    <div class="lyrics">
      <%= simple_format(@tune.lyric.body) %>
    </div>
  </div>
<% end %>

<hr>
<div class="row">
  <ul class="list-group col-md-8 col-md-offset-2">
    <li align="center" class="list-group-item list-group-item-info">
      <h4><strong><%= "("+@jam.users.count.to_s+") "+"Jam Participant".pluralize(@jam.users.count) %></strong></h4>
    </li>
    <li align="center"  class="list-group-item">
      <h4>
        <% @jam.users.each do |user| %>
            <%= link_to(user.username, user_path(user)) %> 
        <% end %>
      </h4>
    </li>
    <hr>
    
    <% if @jam.users.length >= 2 %>
      <li align="center"  class="list-group-item list-group-item-success">
        <h4><strong>Kickoff: </strong><%= @j_struct['Kickoff'].username %></h4>
      </li>
      <li align="center"  class="list-group-item list-group-item-success">
        <h4><strong>Trade: </strong>
        <% @j_struct['Trade'].each do |user| %>
          <%= "#{user.username}" %>
        <% end %></h4>
      </li>
      <li align="center"  class="list-group-item list-group-item-success">
        <h4><strong>Unison: </strong>
        <% @j_struct['Unison'].each do |user| %>
          <%= "#{user.username}" %>
        <% end %></h4>
      </li>
      <li align="center"  class="list-group-item list-group-item-success">
        <h4><strong>Tag: </strong><%= @j_struct['Tag'].username %></h4>
      </li>
    <% end %>

  </ul>
</div><!-- /row -->
<br>

<h3>You have <%= @tunes.count %> tunes in common:</h3>
<br>

<%= render 'jam', obj: @tunes %>