<!-- JAM SHOW PAGE -->

<%= content_tag "div", class: "jam-tunes", id: "jam-tunes", 
    data: {"tunes" => @tunes}.as_json(:include => { :sources => {:only => :link}, :charts => { :include => {:progressions => { :include => { :measures => {:only => :body}}}}}}) do %>
  Loading shared tunes...
<% end %>

<hr>
<div class="row">
  <ul class="list-group col-md-8 col-md-offset-2">
    <li align="center" class="list-group-item list-group-item-info">
      <h4><strong><%= "("+@jam.users.count.to_s+") "+"Jam Participant".pluralize(@jam.users.count) %></strong></h4>
    </li>
    <li align="center"  class="list-group-item">
      <h4>
        <% @jam.users.each do |user| %>
            <%= link_to(user.username, user_path(user)) %> 
        <% end %>
      </h4>
    </li>
    <hr>
  </ul>
</div><!-- /row -->


<h3>You have <%= @tunes.count %> tunes in common:</h3>
<br>

<%= render 'jam', obj: @tunes %>

<div class="well">
  <h3 align="center" class="page-header">Comments</h3>
  <div>
    <%= form_for [@jam, Comment.new] do |f| %>
    <%= f.text_area :body, placeholder: "Add a comment", class: "form-control"%>
    <%= f.submit "Add Comment", class: "btn btn-primary" %>
    <% end %>
  </div>
  <br/>
  <div>
    <ul>
      <%= render(partial: 'comments/comment', collection: @jam.comments) %>
    </ul>
  </div>
</div>

