<%= render "shared/errors", obj: @tune %>

<div class="panel-body">
  <%= form_for @tune do |f| %>
    <div class="form-group required">
      <%= f.label :name, class: "control-label" %><br>
      <%= f.text_field :name, autofocus: true, class: "form-control" %>
    </div>
    <div class="form-group required">
      <%= f.label :key, class: "control-label" %><br>
      <%= f.text_field :key, autofocus: true, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :time_signature %><br>
      <%= f.text_field :time_signature, autofocus: true, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label "Genres (check all that apply)" %><br>
      <%= f.collection_check_boxes :genre_ids, Genre.all, :id, :name do |cb| %>
        <% cb.label(class: "checkbox-inline input_checkbox") {cb.check_box(class: "checkbox") + cb.text} %>
      <% end %>
    </div>
    <div class="form-group">
        <%= f.submit %>
    </div>
    <div class="form-group">
      [ <%= link_to "Cancel request and return to tunes listing", tunes_path %> ]
    </div>
  <% end %>
</div> <!-- end panel-body -->
