<br>
<div class="row well">
  <div class="container">
    <%= search_form_for q_obj, url: path, html: { method: :get } do |f| %>
      <div class="form-group form-inline">
        <%= f.label :name_cont, "Name contains" %>
        <%= f.search_field :name_cont, autofocus: true, class: "form-control" %>
      </div>
      <div class="form-group form-inline">
        <%= f.label :key_cont, "Key contains" %>
        <%= f.search_field :key_cont, autofocus: true, class: "form-control" %>
      </div>
      <div class="form-group form-inline">
        <%= f.label :time_signature_cont, "Time sig. contains" %>
        <%= f.search_field :time_signature_cont, autofocus: true, class: "form-control" %>
      </div>
      <div class="form-group form-inline">
        <%= f.label :genres_name_cont, "Genre(s) contains" %>
        <%= f.search_field :genres_name_cont, autofocus: true, class: "form-control" %>
      </div>
      <div class="form-group form-inline">
        <%= f.label :tunings_notes_eq, "Has specific tuning" %>
        <%= f.collection_select :tunings_notes_eq, Tuning.all, :notes, :instrument_type_notes_and_name, include_blank: "All tunings", class: "form-control" %>
      </div>
      <div class="actions">
        <button type="submit" class="btn btn-default">
          <i class="fa fa-search header-icon-pad-right" aria-hidden="true"></i>
          Search
        </button>
      </div>
    <% end %>
  </div><!-- /input-group -->
</div><!-- /row -->