<%= paginate tunes %>

<table class="table table-striped">
  <thead>
    <tr>
      <th class="col-md-1">Status</th> <!-- empty header for known badge column -->
      <th class="col-md-2">Instruments</th> <!-- instruments column -->
      <th class="col-md-1">Resources</th> <!-- source/charts/lyrics icons column -->
      <th class="col-md-2"><%= sort_link(q_obj, :name, 'Name', default_order: 'asc') %></th>
      <th class="col-md-1"><%= sort_link(q_obj, :key, 'Key', default_order: 'asc') %></th>
      <th class="col-md-1"><%= sort_link(q_obj, :time_signature, 'Time', default_order: 'asc') %></th>
      <th class="col-md-2"><%= sort_link(q_obj, :genres_name, [:genres_name, 'name asc'], 'Genre(s)') %></th>
      <th class="col-md-2"><%= sort_link(q_obj, :updated_at, 'Last Updated', default_order: 'desc') %></th>
    </tr>
  </thead>
  <tbody>
    <% tunes.each do |tune| %>
      <%= content_tag :tr, class: "tune-row", id: tune.id do %>
        <td>
          <% if @current_user_tunes.include?(tune) %>
            <i class="fa fa-check" aria-hidden="true" title="in your repertoire"></i>
          <% else %>
            <%= link_to new_multiple_tune_instrument_tune_path(tune) do %>
              <i class="fa fa-plus add-to-repertoire" aria-hidden="true" title="add to repertoire"></i>
            <% end %>
          <% end %>
          <% if tune.users_that_have_starred.include?(current_user) %>
            <span class="fa-stack">
              <i class="fa fa-star fa-stack-1x star-yellow"></i>
              <i class="fa fa-star-o fa-stack-1x" aria-hidden="true" title="in your starred list"></i>
            </span>
          <% else %>
            <%= link_to new_tune_user_starred_tune_path(tune) do %>
              <span class="fa-stack" align="center">
                <i class="fa fa-star add-to-starred" aria-hidden="true" title="add to starred tunes"></i>
              </span>
            <% end %>
          <% end %>
        </td>
        <td>
          <% if @user.instruments.any? %>
            <% @user.instruments.each do |instrument| %>
              <% if tune.instruments.include?(instrument) %>
                <%= image_tag(instrument.type + '.svg', :class => 'svg-xs', 
                :title => instrument.type.downcase) %>
              <% end %>
            <% end %>
          <% end %>
        </td>
        <td>
          <% unless tune.sources.empty? %>
            <i class="fa fa-lg fa-link tune-icon", title="has audio/video resource(s)"></i>
          <% end %>
          <% unless tune.charts.empty? %>
            <i class="fa fa-lg fa-pencil-square-o tune-icon", title="has chord chart(s)"></i>
          <% end %>
          <% if tune.lyric %>
            <i class="fa fa-lg fa-microphone tune-icon", title="has lyrics"></i>
          <% end %>
        </td>
        <td><%= link_to tune.name, tune_path(tune), value: tune.name %></td>
        <td><%= tune.key %></td>
        <td><%= tune.time_signature %></td>
        <td>
          <% if tune.genres.any? %>
            <% tune.genres.each do |genre| %>
              <%= "#{genre.name}" %>
            <% end %>
          <% end %>
        </td>
        <td><%= time_ago_in_words(tune.updated_at) %> ago</td>
      <% end %> <!-- end tr content tag -->
    <% end %> <!-- end tune -->
  </tbody>
</table>

<%= paginate tunes %>
<%= page_entries_info tunes %>