<%= paginate obj %>

<table class="table table-striped">
  <thead>
    <tr>
      <th class="col-md-1"></th> <!-- empty header for known badge column -->
      <th class="col-md-1"></th> <!-- empty header for lyrics icon column -->
      <th class="col-md-3"><%= sort_link(@q, :name, 'Name', default_order: 'asc') %></th>
      <th class="col-md-1"><%= sort_link(@q, :key, 'Key', default_order: 'asc') %></th>
      <th class="col-md-1"><%= sort_link(@q, :time_signature, 'Time', default_order: 'asc') %></th>
      <th class="col-md-3"><%= sort_link(@q, :genres_name, [:genres_name, 'name asc'], 'Genre(s)') %></th>
      <th class="col-md-2"><%= sort_link(@q, :updated_at, 'Last Updated', default_order: 'desc') %></th>
    </tr>
  </thead>
  <tbody>
    <% obj.each do |tune| %>
      <tr>
        <td>
        <% if current_user.tunes.include?(tune) %>
          <span id='rep-id' class='label label-default'>Known</span>
        <% end %>
        </td>
        <td>
        <% if tune.lyric %>
          <i class="fa fa-lg fa-microphone tune-icon"></i>
        <% end %>
        <!--</td>-->
        <!--<td>-->
        <% unless tune.charts.empty? %>
          <i class="fa fa-lg fa-pencil-square-o tune-icon"></i>
        <% end %>
        </td>
        <td><%= link_to tune.name, tune_path(tune) %></td>
        <td><%= tune.key %></td>
        <td><%= tune.time_signature %></td>
        <td>
          <% if tune.genres.any? %>
            <% tune.genres.each do |genre| %>
              <%= "#{genre.name}" %>
            <% end %>
          <% end %>
        </td>
        <td><%= time_ago_in_words(tune.updated_at) %> ago</td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate obj %>
