<h1 align="center" class="jumbotron">Tunes</h1>

<%= button_to "(+) Add tune to database", new_tune_path, :method => "get", class: "btn-lg btn-primary" %>
<br>

<div class="row well">
  <div class="col-lg-6">
    <div class="input-group">
      <%= search_form_for @q do |f| %>
        <!-- Search if the name field contains...-->
        <div class="form-group">
          <%= f.label :name_cont, "Name contains" %>
          <%= f.search_field :name_cont, autofocus: true, class: "form-control" %>
        </div>
        <div class="actions">
            <%= f.submit "Search"%>
        </div>
      <% end %>
    </div><!-- /input-group -->
  </div><!-- /.col-lg-6 -->
</div><!-- /.row .field -->


<%= render 'tune', obj: @tunes %>