<!-- TUNE SHOW PAGE -->
<h2 align="center" class="jumbotron">
  <%= @tune.name %>
  <%= link_to "Edit Tune", edit_tune_path(@tune), class: 'btn btn-md btn-warning edit-tune' %>
  <% if @tune.lyric.nil? %>
    <%= link_to "Add Lyrics", new_tune_lyric_path(@tune), class: 'btn btn-md btn-primary edit-tune' %>
  <% end %>
  <%= link_to "Add Chord Chart", new_tune_chart_path(@tune), class: 'btn btn-md btn-primary edit-tune' %>

</h2>
<h3>Key: <%= @tune.key %></h3>
<h3>Time Signature: <%= @tune.time_signature %></h3>
<h3>Genre(s): 
  <% if @tune.genres.any? %>
    <% @tune.genres.each do |genre| %>
      <%= "#{genre.name}" %>
    <% end %>
  <% end %>
</h3>
<h3>
<% if current_user.tunes.include?(@tune) %>
  <%= link_to "(-) Remove from repertoire", tune_repertoire_path(@tune, @repertoire), method: :delete,
                data: {confirm: "Are you sure you want to remove this tune from your repertoire?"},
                class: "btn btn-md btn-danger" %>
<% else %>
  <%= link_to "(+) Add to repertoire", new_tune_repertoire_path(@tune), class: 'btn btn-md btn-primary' %>
<% end %>
</h3>

<br>
<hr>

<br><br><br><br>
JS charts:
<%#= content_tag "div", id: "charts", data: {charts: @tune.charts.map {|chart| chart.progressions.map {|progression| progression.measures.map {|measure| measure} } } } do %>
<%= content_tag "div", class: "well charts", id: "charts", data: @tune.as_json(:include => { :charts => { :include => {:progressions => { :include => { :measures => {:only => :body}}}}}}) do %>
  Loading charts...
<% end %>

<br><br><br><br>
Ruby charts:
<% if @tune.charts %>
  <% @tune.charts.each do |chart| %>
  <div align="center" class="well">
    <div class="align-right">
      <%= link_to tune_chart_path(@tune, chart), class: 'btn btn-sm btn-primary', target: :_blank do %>
        <i class="fa fa-external-link" aria-hidden="true"></i>
      <% end %>
      <%= link_to "Edit Chord Chart", edit_tune_chart_path(@tune, chart), class: 'btn btn-sm btn-warning align-right' %>
    </div>
    <h3 class="chart-number">Chord Chart (v<%= @tune.charts.find_index(chart)+1 %>)</h3>
    <div class="charts">
    <% chart.progressions.each do |progression| %>
      <div>
        Part <%= progression.part_number %>: 
        <div>
            <% progression.measures.each do |measure| %>
              <span class="alert alert-success measure"><%= measure.body %></span>
            <% end %>
        </div>
      </div>
    <% end %>
    </div>
  </div>
  <% end %>
<% end %>

<% if @tune.lyric %>
  <div align="center" class="well">
    <div class="align-right">
      <%= link_to tune_lyric_path(@tune), class: 'btn btn-sm btn-primary', target: :_blank do %>
        <i class="fa fa-external-link" aria-hidden="true"></i>
      <% end %>
      <%= link_to "Edit Lyrics", edit_tune_lyric_path(@tune), class: 'btn btn-sm btn-warning' %>
    </div>
    <h2 class="chart-number"><i class="fa fa-lg fa-microphone tune-icon"></i>  Lyrics  <i class="fa fa-lg fa-microphone tune-icon"></i></h2>
    <br>
    <div class="lyrics">
      <%= simple_format(@tune.lyric.body) %>
    </div>
  </div>
<% end %>

<div class="well">
  <%= render "sources/source", obj: @tune.sources %>
  <%= link_to '(+) Add Resource', new_tune_source_path(@tune), class: "button-link" %>
</div>

