<!-- TUNE SHOW PAGE -->
<div align="center" class="jumbotron">
  <h2 class="tune-title"><%= @tune.name %></h2>
  <div>
    <h3>Key: <%= @tune.key %></h3>
    <h3>Time Signature: <%= @tune.time_signature %></h3>
    <h3>Genre(s): 
      <% if @tune.genres.any? %>
        <% @tune.genres.each do |genre| %>
          <%= "#{genre.name}" %>
        <% end %>
      <% end %>
    </h3>
  </div>
  <br>
  <div>
    <%= link_to "Edit Tune", edit_tune_path(@tune), class: 'btn btn-md btn-warning edit-tune' %>
    <% if @tune.lyric.nil? %>
      <%= link_to "Add Lyrics", new_tune_lyric_path(@tune), class: 'btn btn-md btn-primary edit-tune' %>
    <% end %>
    <%= link_to "Add Chord Chart", new_tune_chart_path(@tune), class: 'btn btn-md btn-primary edit-tune' %>
  </div>
</div>

<div>
  <h3>Repertoire status:</h3>
  <% (@tune.instruments & current_user.instruments).each do |instrument| %>
    <%= image_tag(instrument.type + '.svg', :class => 'svg-xxxs', 
                :title => instrument.type.downcase) %>
  <% end %>
  <br>
  <h3>
  <% if current_user.tunes.include?(@tune) %>
    <%= link_to "Edit repertoire", edit_tune_repertoire_path(@tune, @repertoire), class: 'btn btn-md btn-warning' %>
    <%= link_to "(-) Remove from repertoire", tune_repertoire_path(@tune, @repertoire), method: :delete,
                  data: {confirm: "Are you sure you want to remove this tune from your repertoire?"},
                  class: "btn btn-md btn-danger" %>
  <% else %>
    <%= link_to "(+) Add to repertoire", new_tune_repertoire_path(@tune), class: 'btn btn-md btn-primary' %>
  <% end %>
  </h3>
</div>

<div>
  <% if current_user.starred_tunes.include?(@tune) %>
    <div>
      <h3>Star goal:</h3>
      <%= @user_starred_tune.goal %>
    </div>
    <br>
    <%= link_to edit_tune_user_starred_tune_path(@tune, @user_starred_tune),
        class: "btn btn-md btn-warning" do %>
      <i class="fa fa-star" aria-hidden="true"></i> Edit goal
    <% end %>
    <%= link_to tune_user_starred_tune_path(@tune, @user_starred_tune), method: :delete,
                  data: {confirm: "Are you sure you want to unstar this tune?"},
                  class: "btn btn-md btn-danger" do %>
      <i class="fa fa-star" aria-hidden="true"></i> Remove from starred list
    <% end %>
  <% else %>
    <%= link_to new_tune_user_starred_tune_path(@tune), class: 'btn btn-md btn-primary' do %>
      <i class="fa fa-star star-yellow" aria-hidden="true"></i> Add to starred tunes
    <% end %>
  <% end %>
</div>

<hr>
<div align="center" class="well">
  <%= content_tag "div", class: "charts", id: "charts", data: @tune.as_json(:include => { :charts => { :include => {:progressions => { :include => { :measures => {:only => :body}}}}}}) do %>
    Loading charts...
  <% end %>
</div>


<% if @tune.lyric %>
  <div align="center" class="well">
    <div class="align-right">
      <%= link_to tune_lyric_path(@tune), class: 'btn btn-sm btn-primary', target: :_blank do %>
        <i class="fa fa-external-link" aria-hidden="true"></i>
      <% end %>
      <%= link_to "Edit Lyrics", edit_tune_lyric_path(@tune), class: 'btn btn-sm btn-warning' %>
    </div>
    <h2 class="chart-title"><i class="fa fa-lg fa-microphone tune-icon"></i>  Lyrics  <i class="fa fa-lg fa-microphone tune-icon"></i></h2>
    <br>
    <div class="lyrics">
      <%= simple_format(@tune.lyric.body) %>
    </div>
  </div>
<% end %>

<div class="well">
  <%= render "sources/source", obj: @tune.sources %>
  <%= link_to '(+) Add Resource', new_tune_source_path(@tune), class: "button-link" %>
</div>

<div class="well">
  <h3 align="center" class="page-header">Comments</h3>
  <div>
    <%= form_for [@tune, Comment.new] do |f| %>
    <%= f.text_area :body, placeholder: "Add a comment", class: "form-control"%>
    <%= f.submit "Add Comment", class: "btn btn-primary" %>
    <% end %>
  </div>
  <br/>
  <div>
    <ul>
      <%= render(partial: 'comments/comment', collection: @tune.comments) %>
    </ul>
  </div>
</div>
