<h2 align="center" class="jumbotron"><%= @tune.name %></h2>
<h3>Key: <%= @tune.key %></h3>
<h3>Genre: 
  <% if @tune.genres.any? %>
    <% @tune.genres.each do |genre| %>
      <%= "#{genre.name}" %>
    <% end %>
  <% end %>
</h3>
<h3>
<% if current_user.tunes.include?(@tune) %>
  <%= button_to "(-) Remove from repetoire", tune_path(:tune_id => @tune.id, :user_id => current_user.id), :method => :put, class: 'btn btn-lg btn-danger' %>
<% else %>
  <%= button_to "(+) Add to repetoire", tune_path(:tune_id => @tune.id, :user_id => current_user.id), :method => :put, class: 'btn btn-lg btn-primary'%>
<% end %>
</h3>

<br>
<hr>

<div class="well">
  <%= render "sources/source", obj: @tune.sources %>
  <%= link_to '(+) Add Resource', new_tune_source_path(@tune), class: 'button-link' %>
</div>
